body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#2f65bc, #99c0ff);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.panel {
    background-color: #fff;
    box-shadow: 0px 5px 15px 2px #00000030;
    padding: 10px;
}

input.text-input {
    display: block;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    font-size:18px;
    padding:10px 10px 10px 5px;
    border:none;
    border-bottom:1px solid #757575;
    transition: border-bottom-width 0.1s ease-in-out, 
                border-bottom-color 0.5s ease-in-out;
}

input.text-input:focus { 
    outline:none; 
    border-bottom: 3px solid cornflowerblue;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 100;
    border-bottom: 1px solid #313131;
    margin-left: 30px;
    margin-right: 30px;
}

h2 {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #313131;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

label {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

nav {
    width: 100vw;
}

nav form {
    display: inline-block;
}

nav > * > * {
    border-right: 2px solid #2f65bc;
    display: inline-block;
}

nav > * > *:last-child {
    border-right: none;
}

nav p {
    margin: 0;
    margin-right: 10px;
    display: inline-block;
}

button.nav {
    background: none;
    border: none;
    font-size: 18px;
}
