@import '../vars';

main {
    width: 60vw;
    margin-left: 20vw;
    padding-top: 10vh;
}

main>.panel>* {
    margin-left: 40px;
    margin-right: 40px;
}

main>.panel>h1 {
    margin-left: 30px;
    margin-right: 30px;

}

main>.panel>.panel {
    padding: 0;
}

.list_header {
    display: grid;
    grid-template-columns: 3fr repeat(7, 2fr);
    margin-bottom: 0;
    background-color: #00000040;

    &>*{
        margin-bottom: 0;
    }

    padding: 10px;
}

.people_list {
    margin-top: 0;
}

li {
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr repeat(7, 2fr);
}

li.dark {
    background-color: #00000030;
}

li.dark:hover {
    background-color: #00000060;
}

li.light {
    background-color: #ffffff30;
}

li.light:hover {
    background-color: #00000060;
}

label.stat {
    text-align: right;
}

ul {
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;

    * {
        cursor: pointer;
    }
}
