main {
    width: 60vw;
    margin-left: 20vw;
    padding-top: 10vh;
}

.panel>* {
    margin-left: 40px;
}

main>.panel>h1 {
    margin-left: 30px;
}

.subdiv {
    border-top: 1px solid #313131;
}
